body{
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    grid-template-areas: 
    " header header header "
    " nav nav nav "
    ". main ."
    ;
    grid-gap:5px;
}

#header{
    grid-area: header;
}

#nav{
    grid-area: nav;
}

#content{
    grid-area: main;
}