body{
    display: grid;
    grid-template-rows: 200px 400px 100px 300px 200px 75px;
    grid-template-columns: 5% 1fr 1fr 1fr 5%;
    grid-template-areas: 
    " header header header header header "
    " . img img img ."
    ". imgd imgd imgd ."
    ". vid vid vid-d ."
    ". . . . ."
    "ft ft ft ft ft"
    ;
    grid-gap:20px;
    padding: 0;
    margin: 0;
    background-image: url(../images/background/animation-blue-ocean-landscape-video-footage-089859057_prevstill.webp);
    background-size: auto;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#head-nav{
    grid-area: header;
    background-color: #EEE;
}

#nav{
    display: flex;
    justify-content: center;
    align-content: space-around;
}

#img-gallary{
    grid-area: img;
    background-color: #ddd;
}

#gallary-description{
    grid-area: imgd;
    background-color: #ddd;
}

#video{
    grid-area: vid;
    background-color: #ddd;
}

#video-description{
    grid-area: vid-d;
    background-color: #ddd;
}

#footer{
    grid-area: ft;
    background-color: #ddd;
}